<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <section>
       <%= link_to 'VITA', episodes_path(:type=>'vita'),class: "vita btn btn-lg active col-md-2 col-md-offset-6"  %> 
       <%= link_to 'SFNAPCPS', episodes_path,class: "vita btn btn-lg active col-md-2 col-md-offset-6"  %>
       <!--  <button id="leftpaw" type="button" class="btn btn-lg active col-md-2 col-md-offset-0" href="#clear">SFNAPCPS</button> -->
      </section>
   </div>
  </body>
</html>

// <script type="text/javascript">
  
// $('#leftpaw').click(function(){
//   console.log('hello');
// })

// </script>