<!DOCTYPE html>
<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <section>
        <button type="button" class="btn btn-lg active col-md-2 col-md-offset-6" href="#clear">VITA</button>
        
        <button id="leftpaw" type="button" class="btn btn-lg active col-md-2 col-md-offset-0" href="#clear">SFNAPCPS</button>
      </section>
   </div>
  </body>
</html>